%h1 Edit Employee of Workplace
-if params[:employee_id]
	%h4= "#{@employee.em_id}: #{@employee.name}"
- elsif params[:workplace_id]
	%h4= "#{@workplace.name}"
- else
- if params[:employee_id]
	= link_to "Cancel", employee_path(@employee), class: "btn btn-danger btn-sm"
- elsif params[:workplace_id]
	= link_to "Cancel", workplace_path(@workplace), class: "btn btn-danger btn-sm"
%br
%br
= render 'form'
