%h1 Employee Workplace
-if params[:employee_id] 
	%h4= "#{@employee.em_id}: #{@employee.name}"
- elsif params[:workplace_id]
	%h4= "#{@workplace.name}"
- else
= render 'form'
- if params[:employee_id] 
	= link_to "Cancel", employee_path(@employee)
- elsif params[:workplace_id]
	= link_to "Cancel", workplace_path(@workplace)