.students
  .form
    = simple_form_for(@student) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name
        = f.input :gender, as: :radio_buttons, collection: [['male', 'Male'], ['female', 'Female']], label_method: :second, value_method: :first, required: true 
        = f.input :dob, as: :date, html5: true
        = f.input :doj, as: :date, html5: true
        = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
        = f.input :dol, as: :date, html5: true
        %br
        = f.input :grade
        %br
        = f.input :contact_1
        = f.input :contact_2
        = f.input :contact_3
        = f.input :email
        = f.input :address
        / = f.input :city
        / = f.input :state
        = f.input :society
        = f.input :country, :as => :string
        = f.input :pincode

        = f.input :fathers_name
        = f.input :fathers_occupation
        = f.input :mothers_name
        = f.input :mothers_occupation
        = f.input :category, as: :radio_buttons, collection: [['st', 'ST'], ['sc', 'SC'], ['obc', 'OBC'], ['general', 'General']], label_method: :second, value_method: :first, required: true

        / Probably Useless
        / = f.input :village_id
        / = f.input :society
        / = f.input :school_id
        / = f.input :program_id
        / = f.input :support_id
        / = f.input :mentor_id
        / = f.input :sponsor_id
        / = f.input :coordinator_id

      .form-actions
        = f.button :submit
