%h1 Edit Designation of Employee
-if params[:employee_id]
	%h4= "#{@employee.em_id}: #{@employee.name}"
- elsif params[:designation_id]
	%h4= "#{@designation.name}"
- else
- if params[:employee_id]
	= link_to "Cancel", employee_path(@employee), class: "btn btn-danger btn-sm"
- elsif params[:designation_id]
	= link_to "Cancel", designation_path(@designation), class: "btn btn-danger btn-sm"
%br
%br
= render 'form'
