.form
  = simple_form_for(@member_designation) do |f|
    = f.error_notification
    .form-inputs
      = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
      = f.input :start, as: :date, html5: true
      = f.input :end, as: :date, html5: true
      = f.input :member_id ,:collection => @members,:label_method => :collection_values,:value_method => :id, prompt: "Select Member ID", :label => "Member ID" ,:include_blank => false
      = f.input :designation_id ,:collection => @designations,:label_method => :name,:value_method => :id, prompt: "Select Designation", :label => "Designation" ,:include_blank => false
    .form-actions
    %br
      -if @member
        = f.button :submit, name: "member_id", value: @member.id, value: "Submit"
      - elsif @designation
        = f.button :submit, name: "designation_id", value: @designation.id, value: "Submit"
      - else
        = f.button :submit
