.card
  .card-body
    .form.container 
      = simple_form_for(@student_sponsor) do |f|
        = f.error_notification
        .form-inputs
          / = f.input :active
          = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
          = f.input :start, as: :date, html5: true
          = f.input :end, as: :date, html5: true
          / = f.input :student_id
          = f.input :student_id ,:collection => @students,:label_method => :collection_values,:value_method => :id, prompt: "Select Student ID", :label => "Student ID" ,:include_blank => false
          / = f.input :sponsor_id
          = f.input :sponsor_id ,:collection => @sponsors,:label_method => :collection_values,:value_method => :id, prompt: "Select Sponsor ID", :label => "Sponsor ID" ,:include_blank => false
          = f.input :academic_year
          / Full or Half
          / = f.input :sponsor_type
          = f.input :sponsor_type, as: :radio_buttons, collection: [['full', 'Full'], ['partial', 'Partial']], label_method: :second, value_method: :first, required: true

        .form-actions
        %br
          -if @student
            = f.button :submit, name: "student_id", value: @student.id, value: "Submit", class: "btn btn-submit btn-lg"
          - elsif @sponsor
            = f.button :submit, name: "sponsor_id", value: @sponsor.id, value: "Submit", class: "btn btn-submit btn-lg"
          - else
            = f.button :submit, class: "btn btn-submit btn-lg"
