%h1 Create Student's Sponsor
-if params[:student_id]
	%h4= "#{@student.st_id}: #{@student.name}"
- elsif params[:sponsor_id]
	%h4= "#{@sponsor.sp_id}: #{@sponsor.name}"
- else
- if params[:student_id]
	= link_to "Cancel", student_path(@student), class: "btn btn-danger btn-sm"
- elsif params[:sponsor_id]
	= link_to "Cancel", sponsor_path(@sponsor), class: "btn btn-danger btn-sm"
%br
%br
= render 'form'
