.card
  .card-body
    .form.container
      = simple_form_for(@designation) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name
          = f.input :comments
        .form-actions
          = f.button :submit, class: "btn btn-submit btn-lg"
