.card
  .card-body
    .form.container
      = simple_form_for(@designation) do |f|
        = f.error_notification
        .row
          .col
            = f.input :name
        .row
          .col
            = f.input :comments
        .form-actions
          .row
            .col
            .col
              = f.button :submit, class: "btn btn-submit btn-lg"
            .col
