%h1.w3-center DESIGNATIONS
%br
%small= link_to 'Back', root_path, class: "btn btn-danger btn-sm"
%small= link_to "Create Designation", new_designation_path, class: "btn btn-secondary btn-sm"
%table.table.table-hover.table-bordered{:style => "margin-top: 8px;"}
	%thead.thead-light
		%tr
			%th{:scope => "col"} #
			%th{:scope => "col"} Designation
			%th{:scope => "col"} Description
	%tbody
		- num = 1
		- @designations.each do |designation|
			%tr
				%th{:scope => "row"}= "#{num}"
				%td= link_to designation.name, designation_path(designation)
				%td= designation.comments
			-num = num+1
