.card
  .card-body
    .form.container
      = simple_form_for(@coordinator) do |f|
        = f.error_notification
        .row
          .col
            = f.input :name
          .col
            = f.input :gender, as: :radio_buttons, collection: [['male', 'Male'], ['female', 'Female']], label_method: :second, value_method: :first, required: true
        .row
          .col
            = f.input :dob, as: :date, html5: true
          .col
            = f.input :doj, as: :date, html5: true
        .row
          .col
            = f.input :dol, as: :date, html5: true
          .col
            = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
        .row
          .col
            = f.input :contact
          .col
            = f.input :email

        .row
          .col
            = f.input :address
          / = f.input :city
          / = f.input :state
        .row
          .col
            = f.input :country, :as => :string
          .col
            = f.input :pincode

        %br
        .row
          .col
          .col
            = f.button :submit, class: "btn btn-submit btn-lg"
          .col
          -# if @student
          -#   = f.button :submit, name: student_id, value: @student.id
