.form
  = simple_form_for(@student_program) do |f|
    = f.error_notification
    .form-inputs
      = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
      = f.input :start, as: :date, html5: true
      = f.input :end, as: :date, html5: true
      = f.input :student_id ,:collection => @students,:label_method => :collection_values,:value_method => :id, prompt: "Select Student ID", :label => "Student ID" ,:include_blank => false
      = f.input :program_id ,:collection => @programs,:label_method => :name,:value_method => :id, prompt: "Select Program", :label => "Program" ,:include_blank => false
    .form-actions
    %br
      -if @student
        = f.button :submit, name: "student_id", value: @student.id, value: "Submit"
      - elsif @program
        = f.button :submit, name: "program_id", value: @program.id, value: "Submit"
      - else
        = f.button :submit
