%h1 Create Student's Program
-if params[:student_id]
	%h4= "#{@student.st_id}: #{@student.name}"
- elsif params[:program_id]
	%h4= "#{@program.name}"
- else
- if params[:student_id]
	= link_to "Cancel", student_path(@student), class: "btn btn-danger btn-sm"
- elsif params[:program_id]
	= link_to "Cancel", program_path(@program), class: "btn btn-danger btn-sm"
%br
%br
= render 'form'
