%h1 Hey!
%h3 Remember: "Whatever you are, be a good one"

%br

%p= link_to "Students", students_path
%p= link_to "Sponsors", sponsors_path
%p= link_to "Members", members_path
%p= link_to "Volunteers", volunteers_path
%p= link_to "Coordinators", coordinators_path
%p= link_to "Mentors", mentors_path
%p= link_to "Employees", employees_path

%br

%p= link_to "Schools", schools_path
%p= link_to "After School Support", supports_path
%p= link_to "Workplaces", workplaces_path

%br

%p= link_to "Programs", programs_path
%p= link_to "Designations", designations_path