.card
  .card-body
    .form.container
      = simple_form_for(@sponsor) do |f|
        = f.error_notification
        .form-inputs
          .row
            .col
              = f.input :name
              = f.input :dob, as: :date, html5: true
            .col
              = f.input :gender, as: :radio_buttons, collection: [['male', 'Male'], ['female', 'Female']], label_method: :second, value_method: :first, required: true
            .col
              = f.input :sponsor_type, as: :radio_buttons, collection: [['SEP', 'SEP'], ['EACH', 'EACH'], ['CEP', 'CEP'], ['general', 'General'], ['emergency fund', 'Emergency Fund']], label_method: :second, value_method: :first, required: true
          .row
            .col
              = f.input :doj, as: :date, html5: true
            .col
              = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
            .col
              = f.input :dol, as: :date, html5: true
          .row
            .col
              = f.input :contact
            .col
              = f.input :email
          = f.input :address
          / = f.input :city
          / = f.input :state
          .row
            .col
              = f.input :pincode
            .col
              = f.input :country, :as => :string

          / = f.input :program_id ,:collection => @programs,:label_method => :name,:value_method => :id, prompt: "Select Program", :label => "Program" ,:include_blank => false
        %br

        .form-actions
          .row
            .col
            .col
              = f.button :submit, class: "btn btn-submit btn-lg"
            .col
