.mentor
  .form
    = simple_form_for(@mentor) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name
        = f.input :gender, as: :radio_buttons, collection: [['male', 'Male'], ['female', 'Female']], label_method: :second, value_method: :first, required: true  
        = f.input :dob, as: :date, html5: true
        = f.input :doj, as: :date, html5: true
        = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
        = f.input :dol, as: :date, html5: true
        = f.input :contact
        = f.input :email
        = f.input :address
        / = f.input :city
        / = f.input :state
        = f.input :country, :as => :string
        = f.input :pincode
      .form-actions
        = f.button :submit
