= simple_form_for(@student_school) do |f|
  = f.error_notification
  .form-inputs
    = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
    = f.input :student_id ,:collection => @students,:label_method => :st_id,:value_method => :id, prompt: "Select Student ID", :label => "Student ID" ,:include_blank => false
    = f.input :school_id ,:collection => @schools,:label_method => :name,:value_method => :id, prompt: "Select School", :label => "School" ,:include_blank => false
    = f.input :time_period
    = f.input :academic_period
    = f.input :fees

  .form-actions
  %br
    = f.button :submit
