.card
  .card-body
    .form.container
      = simple_form_for(@workplace) do |f|
        = f.error_notification
        .form-inputs
          .row
            .col
              = f.input :name
            .col
              = f.input :contact

          = f.input :address
          = f.input :comments
        %br

        .form-actions
          .row
            .col
            .col
              = f.button :submit, class: "btn btn-submit btn-lg"
            .col
