.card
  .card-body
    .form.container
      = simple_form_for(@student_coordinator) do |f|
        = f.error_notification
        .form-inputs
          = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
          .row
            .col
              = f.input :start, as: :date, html5: true
            .col
              = f.input :end, as: :date, html5: true
          .row
            .col
              = f.input :student_id ,:collection => @students,:label_method => :collection_values ,:value_method => :id, prompt: "Select Student ID", :label => "Student ID" ,:include_blank => false
            .col
              = f.input :coordinator_id ,:collection => @coordinators,:label_method => :collection_values,:value_method => :id, prompt: "Select Coordinator's ID", :label => "Coordinator's ID" ,:include_blank => false
        .form-actions
        %br
          .row
            .col
            .col
              -if @student
                = f.button :submit, name: "student_id", value: @student.id, value: "Submit", class: "btn btn-submit btn-lg"
              - elsif @coordinator
                = f.button :submit, name: "coordinator_id", value: @coordinator.id, value: "Submit", class: "btn btn-submit btn-lg"
              - else
                = f.button :submit, class: "btn btn-submit btn-lg"
            .col
