%h1 Edit Coordinator for Student
-if params[:student_id] 
	%h4= "#{@student.st_id}: #{@student.name}"
- elsif params[:coordinator_id]
	%h4= "#{@coordinator.co_id}: #{@coordinator.name}"
- else
= render 'form'
- if params[:student_id] 
	= link_to "Cancel", student_path(@student)
- elsif params[:coordinator_id]
	= link_to "Cancel", coordinator_path(@coordinator)