%h1.w3-center AFTER SCHOOL SUPPORT
%br
%small= link_to 'Back', root_path, class: "btn btn-danger btn-sm"
%small= link_to "Add After School Support", new_support_path, class: "btn btn-secondary btn-sm"
%table.table.table-hover.table-bordered{:style => "margin-top: 8px;"}
	%thead.thead-light
		%tr
			%th{:scope => "col"} #
			%th{:scope => "col"} Program
			%th{:scope => "col"} Contact
			%th{:scope => "col"} Description
	%tbody
		- num = 1
		- @supports.each do |support|
			%tr
				%th{:scope => "row"}= "#{num}"
				%td= link_to support.name, support_path(support)
				%td= support.contact
				%td= support.comments
			-num = num+1
