.form
  = simple_form_for(@student_mentor) do |f|
    = f.error_notification
    .form-inputs
      = f.input :active, as: :radio_buttons, collection: [['true', 'Active'], ['false', 'Non Active']], label_method: :second, value_method: :first, required: true
      = f.input :start, as: :date, html5: true
      = f.input :end, as: :date, html5: true
      = f.input :student_id ,:collection => @students,:label_method => :collection_values,:value_method => :id, prompt: "Select Student ID", :label => "Student ID" ,:include_blank => false
      = f.input :mentor_id ,:collection => @mentors,:label_method => :collection_values,:value_method => :id, prompt: "Select Mentor's ID", :label => "Mentor's ID" ,:include_blank => false
    .form-actions
    %br
    -if @student
      = f.button :submit, name: "student_id", value: @student.id, value: "Submit"
    - elsif @mentor
      = f.button :submit, name: "mentor_id", value: @mentor.id, value: "Submit"
    - else
      = f.button :submit