%h1 Edit Mentor for Student
-if params[:student_id]
	%h4= "#{@student.st_id}: #{@student.name}"
- elsif params[:mentor_id]
	%h4= "#{@mentor.men_id}: #{@mentor.name}"
- else
- if params[:student_id]
	= link_to "Cancel", student_path(@student), class: "btn btn-danger btn-sm"
- elsif params[:mentor_id]
	= link_to "Cancel", mentor_path(@mentor), class: "btn btn-danger btn-sm"
%br
%br
= render 'form'
