%h1= "#{@member.mem_id}: #{@member.name}"

= link_to 'Back', members_path
|
= link_to "Edit", edit_member_path(@member)

%hr
%h4 Designation
%small= link_to "Add Designation", new_member_designation_path(member_id: @member.id)
- @member_designations.each do |member_designation|
	%p
		= link_to member_designation.designation.name, designation_path(member_designation.designation.id)
		|
		= member_designation.active
		| 
		= link_to "Edit", edit_member_designation_path(member_designation, member_id: @member.id)